*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Exorcista;
    src: url(../fonts/Exorcista_-Jed_40.ttf);
}

@font-face {
    font-family: UnifrakturMaguntia;
    src: url('../fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf');
}

.page {
    display: inline;
}

.splash-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: Exorcista, 'Cinzel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 1s ease-in-out;
}

.splash-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/high_vantage\ 1.webp);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}

.content-wrapper {
    font-family: Exorcista;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: max-content;
    height: 105px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: solid ivory 10px;
    background: ivory;
    text-align: center;
}

.game-title {
    font-family: UnifrakturMaguntia;
}

.logo {
    border: solid #eb4034 10px;
    width: 67px;
    height: 105px;
    display: flex;
    text-align: center;
    background: #eb4034;
    align-items: center;
    position: absolute;
    top: -10px;
    background-position: center;
}

.logo-left {
    left: -75px;
    background-image: url(../images/195-1957551_the-emperor-protects-warhammer-40k-inquisitor-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo-right {
    left: 325px;
    background-image: url(../images/195-1957551_the-emperor-protects-warhammer-40k-inquisitor-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.enter-button {
    content: '';
}

.load-wrapper {
    height: 105px;
    width: 335px;
    background-color: purple;
    display: block;
    justify-content: center;
/*    z-index: 2; */
    position: relative;

    /* Hiding from the world */
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);

    /* Actual transition */
   
    transition: 
    opactity 1s ease-in-out,
    transform 1s ease-out,
    visibility 0s 1s;

}

.load-wrapper.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition-delay: 0s;
/*    transform: translate(-50%, -50%) scale(1);*/
}

.load-wrapper.leave {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 0s;

    transition:
    opacity 1s ease-in-out,
    transform 1s ease-out,
    visibility 0s 1s;

}

.load-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.exit-loader {
    height: min-content;
    width: 50px;
}

.load-options {
    height: 105px;
    width: 265px;
    overflow: hidden;
    overflow-y: scroll;
}

.load-options li {
    padding: 10px;
    border-bottom: 1px solid #555;
    cursor: pointer;
    transition: background-color 0.3s;
}

.load-options li:hover {
    background-color: #333;
    color: #fff;
}

.game-container {
    font-family: UnifrakturMaguntia;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: white;
}

.game-container.active {
    display: flex;
    opacity: 1;
    border: solid 10px white;
}

.ST-box {
    display: inline-block;
}

