*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Exorcista;
    src: url(../fonts/Exorcista_-Jed_40.ttf);
}

.splash-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: Exorcista, 'Cinzel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 1s ease-in-out;
}

.splash-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/high_vantage\ 1.webp);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}

.content-wrapper {
    font-family: Exorcista;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: max-content;
    height: 105px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: solid #DAA520 10px;
    background: #DAA520;
    text-align: center;
}

.logo {
    border: solid #eb4034 10px;
    width: 67px;
    height: 105px;
    display: flex;
    text-align: center;
    background: #eb4034;
    align-items: center;
    position: absolute;
    top: -10px;
}

.logo_left {
    left: -75px;
    background-image: url(../images/195-1957551_the-emperor-protects-warhammer-40k-inquisitor-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo_right {
    left: 325px;
    background-image: url(../images/195-1957551_the-emperor-protects-warhammer-40k-inquisitor-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.enter-button {
    content: '';
}

.game-container {
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    transition: opacity 1s ease-in-out;
}

.load-wrapper {
    height: 105px;
    width: 335px;
    background-color: purple;
    display: block;
    justify-content: center;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    position: relative;
/*    opacity: 0;
/*    transition: opacity 1s ease-in-out
/*    visibility: hidden;*/
/*    opacity: '0';*/
}

.load-button {
    position: absolute;
    bottom: 10px;
    left: 142px;
}

.exit-loader {
    height: min-content;
    width: 50px;
}