*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Exorcista;
    src: url(../fonts/Exorcista_-Jed_40.ttf);
}

.splash-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: Exorcista, 'Cinzel', serif;
}

.splash-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/high_vantage\ 1.webp);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}

.content-wrapper {
    font-family: Exorcista;
}